apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: user-app
spec:
  selector:
    tier: backend
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP