apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: user-app
spec:
  selector: 
    tier: frontend
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000