name: InfraDeploy

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed

permissions:
  id-token: write
  contents: read

env:
  GH_PAT: ${{ secrets.GH_PAT }}

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.3
        
      - name: AWS Configure
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          role-to-assume: arn:aws:iam::086227530319:role/tf-role
          aws-region: us-east-1
          role-session-name: GitHubActions

      - name: Initialize Terraform
        run: terraform init

      - name: Download Terraform plan artifact
        uses: actions/download-artifact@v5
        with:
          name: tfplan
          github-token: ${{ env.GH_PAT }}
          run-id: ${{ github.event.workflow_run.id }}
          repository: Rushirf/user-app


      - name: Apply Terraform plan
        run: echo "hello"